body {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 18px;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 1fr;
  padding-bottom: 3%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav {
  text-align: right;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 1.08px;
  line-height: 18px;
}

li {
  display:inline-block;
  align: right;
  padding-left: 25px;
  padding-top: 50px;
  padding-right: 3px;
  margin-right: 10px;
}

.imageholder {
  padding-left: 25px;
  padding-top: 25px;
 }

 .center {
   text-align: center;
 }

.vertical-center {
  line-height: 200px;
  vertical-align: middle;
}

.banner-height {
  height: 200px;
}

.large-font {
  font-size: 50px;
}

.grey-background {
  background-color: RGB(237,237,237);
}

.projects-display {
  display: grid;
  grid-template-columns: 2% auto 25% 2%;
}
.orange {
  color: RGB(212,124,44)
}

.width-75 {
  height: auto;
  max-width: 85%;
}

.bold {
  font-weight: bold;
}

.four-grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  padding-left: 10%;
  padding-right: 10%;
}

.four-grid-container div {
  margin: 0;
  padding: 0;
}

.four-grid-container img {
  max-width: 100%;

}
